@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Roboto+Condensed:400,700");
.is_no-transition {
  transition: none !important; }

nobr {
  white-space: nowrap; }

.row {
  margin-left: -1em;
  margin-right: -1em;
  box-sizing: border-box; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

html, body {
  height: 100%; }

html {
  font-size: 16px; }

body {
  font-family: sans-serif;
  line-height: 1.3;
  color: #333333; }

::selection {
  background: #ffcd00; }

.is_no-transition {
  transition: none !important; }

body {
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.125em; }

.layout__container {
  margin-left: 5em;
  margin-right: 5em; }
  @media only screen and (max-width: 960px) {
    .layout__container {
      margin-left: 0px;
      margin-right: 0px; } }

.layout__header {
  padding-top: 1.5625em;
  padding-bottom: 3.125em; }
  @media only screen and (max-width: 960px) {
    .layout__header {
      padding-left: 0.625em;
      padding-right: 0.625em; } }
  .layout__header_gray {
    background-color: #DBDBDB; }

.layout__footer {
  margin-top: 2.5em;
  margin-bottom: 3.4375em; }
  @media only screen and (max-width: 960px) {
    .layout__footer {
      padding-left: 0.625em;
      padding-right: 0.625em; } }

.layout__info {
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin-bottom: 5em; }
  @media only screen and (max-width: 960px) {
    .layout__info {
      padding-left: 0.625em;
      padding-right: 0.625em; } }

.last-story {
  transform: rotate(-90deg);
  white-space: nowrap; }

.next-story {
  transform: rotate(90deg);
  white-space: nowrap; }

.article {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .article__nav-story {
    align-self: flex-start;
    margin-top: 20em; }
  .article__intro-section {
    text-align: center;
    margin-bottom: 2.5em; }
  .article__introduction {
    text-align: left;
    margin-left: 5.625em;
    margin-right: 5.625em; }
    @media only screen and (max-width: 960px) {
      .article__introduction {
        margin-left: 0em;
        margin-right: 0em; } }
  .article__content-section {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    @media only screen and (max-width: 960px) {
      .article__content-section {
        flex-wrap: wrap; } }
  .article__text {
    margin-left: 1.875em; }
    @media only screen and (max-width: 960px) {
      .article__text {
        margin-left: 0em; } }
  .article__image-caption {
    text-align: right; }
  .article__image > img {
    width: 100%;
    height: auto; }

.credits {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .credits__body {
    text-align: center;
    width: 100%; }

.credits-list__item {
  display: flex;
  justify-content: center; }
  .credits-list__item-position {
    font-weight: bold;
    flex: 1 50%;
    text-align: right;
    margin-right: 0.3125em; }
  .credits-list__item-name {
    margin-left: 0.3125em;
    flex: 1 50%;
    text-align: left; }

.story-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  line-height: 0px; }
  .story-list__item {
    max-width: 50%; }
  .story-list_big {
    max-width: 75%; }
  .story-list_small {
    max-width: 25%; }
  @media only screen and (max-width: 960px) {
    .story-list__item {
      max-width: 100%; } }

.story {
  display: inline-block;
  position: relative; }
  @media only screen and (max-width: 960px) {
    .story__image > img {
      width: 100%;
      height: auto; } }
  .story__about {
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 0.9375em;
    left: 0.9375em;
    line-height: normal; }
  .story__category {
    font-weight: bold;
    font-size: 0.75em; }

.info {
  background-color: #DBDBDB; }
  .info__staff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1.25em; }
  .info__staff-item {
    padding: 0.3125em; }
  .info__about {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4.0625em; }
    @media only screen and (max-width: 960px) {
      .info__about {
        flex-wrap: wrap; } }
  .info__about-item {
    padding: 0.3125em;
    margin-bottom: 0.9375em; }
  .info__links {
    padding-bottom: 3.125em; }

.social-links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .social-links-list__item {
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    font-size: 0.75em;
    padding: 0.5em; }
    .social-links-list__item a {
      text-decoration: none;
      color: #000; }

.about__title {
  font-weight: bold; }

.staff {
  text-align: center;
  font-size: 0.75em; }
  .staff__info {
    margin-bottom: 1.5625em; }
  .staff__name {
    font-weight: bold; }
  .staff__photo {
    margin-bottom: 0.9375em; }
  .staff__photo > img {
    height: 7.5em; }

.header {
  font-family: 'Archivo Black', sans-serif;
  font-weight: bold;
  clear: both; }
  .header__logo {
    float: left;
    text-align: left; }
  .header__switch-info {
    text-align: right; }
  .header a {
    color: #000;
    text-decoration: none; }

.footer {
  font-family: 'Archivo Black', sans-serif;
  font-weight: bold;
  clear: both; }
  .footer__logo {
    float: left;
    text-align: left; }
  .footer__copyright {
    text-align: right; }
