.row {
  margin-left: -1em;
  margin-right: -1em;
  box-sizing: border-box;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%grid-col {
  position: relative;
  min-height: 1px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}

%grid-col-float {
  float: left;
}

@mixin gridGenerate($name: "sm", $respond: "min-width: 768px", $cols:12) {
  @for $i from 1 through $cols {

    .col-#{$name}-#{$i} {
      @extend %grid-col;
    }

    @if $respond {
      @media only screen and (#{$respond}) {
        .col-#{$name}-#{$i} {
          width: $i / $cols * 100%;
          float: left;
        }
        .col-#{$name}-pull-#{$i} {
          right: $i / $cols * 100%;
        }
        .col-#{$name}-push-#{$i} {
          left: $i / $cols * 100%;
        }
        .col-#{$name}-offset-#{$i} {
          margin-left: $i / $cols * 100%;
        }
      }
    } @else {
      .col-#{$name}-#{$i} {
        @extend %grid-col-float;
      }

      .col-#{$name}-#{$i} {
        float: left;
        width: $i / $cols * 100%;
      }
      .col-#{$name}-pull-#{$i} {
        right: $i / $cols * 100%;
      }
      .col-#{$name}-push-#{$i} {
        left: $i / $cols * 100%;
      }
      .col-#{$name}-offset-#{$i} {
        margin-left: $i / $cols * 100%;
      }
    }
  }
}